 shubham chavhan

# List Method

-append() -clear() -copy() -count() -extend() -index() -insert() -pop() -remove() -reverse() =-sort()

In [1]:
a= [5,6,7,8,9,1,2,3,4]
b=[1,5,6,7,8,9,6,3]

#append()
Append object to the end of the

In [2]:
a.append(b)   
a

[5, 6, 7, 8, 9, 1, 2, 3, 4, [1, 5, 6, 7, 8, 9, 6, 3]]

In [3]:
try:
    a.append(b)
    print(a)
except Exception as e:
    print(e)

[5, 6, 7, 8, 9, 1, 2, 3, 4, [1, 5, 6, 7, 8, 9, 6, 3], [1, 5, 6, 7, 8, 9, 6, 3]]

In [4]:
def append(name):
    "Append object to the end of the "
    try:
        a.append(b)
        print(a)
    except Exception as e:
        print(e)
append(a)

[5, 6, 7, 8, 9, 1, 2, 3, 4, [1, 5, 6, 7, 8, 9, 6, 3], [1, 5, 6, 7, 8, 9, 6, 3], [1, 5, 6, 7, 8, 9, 6, 3]]

In [5]:
try:
    def append(name):
        try:
            a.append(b)
            print(a)
        except Exception as e:
            print(e)
    append(a)           
except Exception as e:
    print(e)

[5, 6, 7, 8, 9, 1, 2, 3, 4, [1, 5, 6, 7, 8, 9, 6, 3], [1, 5, 6, 7, 8, 9, 6, 3], [1, 5, 6, 7, 8, 9, 6, 3], [1, 5, 6, 7, 8, 9, 6, 3]]

#clear()
Clear the terminal

In [6]:
s =[1,2,5,7,8]

In [7]:
s.clear()

In [8]:
try:
    def clear(name):
        "Clear the terminal"
        try:
            print(s.clear())
        except Exception as e:
            print(e)
    clear(s)
except Exception as e:
    print(e)

None

In [9]:
s

[]

#copy()
Returns a copy of the list

In [10]:
d=["shubhamchavhan"]
e= d.copy()
print(e)

['shubhamchavhan']

In [11]:
try:
    e= d.copy()
    print(e)
except Exception as e:
    print(e)

['shubhamchavhan']

In [12]:
def copy(name):
    "Returns a copy of the list"
    try:
        e= d.copy()
        print(e)
    except Exception as e:
        print(e)
copy(e)

['shubhamchavhan']

In [13]:
try:
    def copy(name):
        try:
            e= d.copy()
            print(e)
        except Exception as e:
            print(e)
    copy(eh)
except Exception as e:
    print(e)

name 'eh' is not defined

#count()
Return number of occurrences of value

In [14]:
z=[1,2,3,4,4,4,5,6,78]

In [15]:
z.count(4)

3

In [16]:
try:
    print(z.count(4))
except Exception as e:
    print(e)

3

In [17]:
def count(name):
    "Return number of occurrences of value"
    try:
        print(z.count(4))
    except Exception as e:
            print(e)
count(z)

3

In [18]:
try:
    def count(name):
        try:
            print(z.count(4))
        except Exception as e:
            print(e)
    count(z)
except Exception as e:
    print(e)

3

#extend()
Add the elements of a list to the end of the current list

In [19]:
N = ["rushi","shubham"]
N.extend("nitin")

In [20]:
 try:
    N.extend("nitin")
    print(N)
except Exception as e:
    print(e)

['rushi', 'shubham', 'n', 'i', 't', 'i', 'n', 'n', 'i', 't', 'i', 'n']

In [21]:
def extend_name(name):
    "Add the elements of a list to the end of the current list"
    try:
        N.extend("nitin")
        print(N)
    except Exception as e:
        print(e)
extend_name(N)

['rushi', 'shubham', 'n', 'i', 't', 'i', 'n', 'n', 'i', 't', 'i', 'n', 'n', 'i', 't', 'i', 'n']

In [22]:
try:
    def extend_name(name):
        try:
            N.extend("nitin")
            print(N)
        except Exception as e:
            print(e)
    extend_name(N)
except Exception as e:
    print(e)

['rushi', 'shubham', 'n', 'i', 't', 'i', 'n', 'n', 'i', 't', 'i', 'n', 'n', 'i', 't', 'i', 'n', 'n', 'i', 't', 'i', 'n']

#index()
Find the index of the element

In [23]:
l = [12,2,3,4,4,5,5,6,7,78777]
l.index(3)

2

In [24]:
try:
    print(l.index(3))
except Exception as e:
    print(e)

2

In [25]:
def index_no(name):
    "Find the index"
    try:
        print(l.index(3))
    except Exception as e:
        print(e)
index_no(l)

2

In [26]:
try:
    def index_no(name):
        try:
            print(l.index(3))
        except Exception as e:
            print(e)
    index_no(l)
except Exception as e:
    print(e)

2

# insert()
the element has to be inserted.

In [27]:
s= [ 1, 2, 3, 4, 5, 6, 7 ]  
s.insert(4, 10) 
print(s)

[1, 2, 3, 4, 10, 5, 6, 7]

In [28]:
try:
    s.insert(4,10)
    print(s)
except exception as e:
    print(e)

[1, 2, 3, 4, 10, 10, 5, 6, 7]

In [29]:
def insert_func(List):
    "element has to be inserted."
    try:
        s.insert(4,10)
        print(s)
    except exception as e:
        print(e)
insert_func(s)

[1, 2, 3, 4, 10, 10, 10, 5, 6, 7]

In [30]:
try:
    def insert_func(List):
        try:
            print(s.insert(4,10))
        except exception as e:
            print(e)
    insert_func(s)            
except Exception as e:
    print(e)

None

#pop()
Remove Last element

In [31]:
R = [1,5,4,6,8,9,77,8,999]
R.pop()

999

In [32]:
try:
    print(R.pop())
except Exception as e:
    print(e)

8

In [33]:
def remove(name):
        try:
            print(R.pop())
        except Exception as e:
            print(e)
remove(R)

77

In [34]:
try:
    def remove(name):
        "Remove Last element"
        try:
            print(R.pop())
        except Exception as e:
            print(e)
    remove(R)
except Exception as e:
    print(e)

9

#remove() 
object to be removed from the list

In [35]:
d = [9,4,34,5,55]
d.remove(4)
d

[9, 34, 5, 55]

In [36]:
try:
    d.remove(5)
    print(d)
except Exception as e:
    print(e)

[9, 34, 55]

In [37]:
def remove_number(num):
    "object to be removed"
    try:
        d.remove(55)
        print(d)
    except Exception as e:
        print(e)
remove_number(d)

[9, 34]

In [38]:
try:
    def remove_number(num):
        try:
            d.remove(4)
            print(d)
        except Exception as e:
            print(e)
    remove_number(d)
except Exception as e:
    print(e)

list.remove(x): x not in list

#reverse()
reverses the elements of the list.

In [39]:
s=[1,2,3,4,5,6,7,8]
s.reverse()
s

[8, 7, 6, 5, 4, 3, 2, 1]

In [40]:
try:
    def reverse_list(name):
        "Reverse *IN PLACE*"
        try:
            s.reverse()
            print(s)
        except Exception as e:
            print(e)
    reverse_list(s)
except Exception as e:
    print(e)

[1, 2, 3, 4, 5, 6, 7, 8]

### sort()
items of a list in ascending or descending order.

In [41]:
lang = ["python","sql","R","html"]
lang.sort()
print(lang)

['R', 'html', 'python', 'sql']

In [42]:
try:
    lang.sort()
    print(lang)
except Exception as e:
    print(e)

['R', 'html', 'python', 'sql']

In [43]:
def sequence(name): 
    try:
        lang.sort()
        print(lang)
    except Exception as e:
        print(e)
sequence(lang)

['R', 'html', 'python', 'sql']

In [44]:
try:
    def sequence(name):
        "list in ascending order"
        try:
            lang.sort()
            print(lang)
        except Exception as e:
            print(e)
    sequence(lang)        
except Exception as e:
    print(e)

['R', 'html', 'python', 'sql']